[submodule "elephant"]
	path = packages/elephant
	url = git@github.com:pyrogenic/elephant.git
	branch = main
[submodule "discojs"]
	path = packages/discojs
	url = git@github.com:pyrogenic/discojs.git
	branch = pagination
[submodule "memo"]
	path = packages/memo
	url = git@github.com:pyrogenic/memo.git
	branch = main
[submodule "toed"]
	path = packages/toed
	url = git@github.com:pyrogenic/toed.git
	branch = main
[submodule "asset"]
	path = packages/asset
	url = git@github.com:pyrogenic/asset.git
	branch = main
[submodule "spelling-sea"]
	path = packages/spelling-sea
	url = git@github.com:pyrogenic/spelling-sea.git
	branch = main
[submodule "perl"]
	path = packages/perl
	url = git@github.com:pyrogenic/perl
	branch = main
[submodule "bootstrap"]
	path = packages/bootstrap
	url = git@github.com:pyrogenic/bootstrap.git
	branch = sym-tweaks
[submodule "testbed"]
	path = packages/testbed
	url = git@github.com:pyrogenic/testbed.git
	branch = main
[submodule "jsonpath"]
	path = packages/jsonpath
	url = git@github.com:pyrogenic/jsonpath.git
	branch = main
